.tag {
  display: inline-block;

  margin-right: 5px;
  border-radius: 15px;
}

.small {
  padding: 5px 10px;

  font-size: 12px;
  line-height: 12px;
}

.medium {
  padding: 5px 10px;

  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--gray-light);
}

.red {
  color: var(--white);
  background-color: #de0000;

  font-weight: 500;
}

.grey {
  color: var(--white);
  background-color: #b3c0d9;

  font-weight: 500;
}

.green {
  color: var(--green);
  background-color: var(--green-light);

  font-weight: 500;
}

.primary {
  color: var(--primary);
  background-color: none;
  border: 1px solid var(--primary);
}
